
{{!-- {{#unless devoured}} --}}

<ul>
{{#each articles}}
<h2>{{headline}}</h2>
<p>{{summary}}</p>
<p><a href={{url}}>read more...</a></p>
<div class="comments" data-id="{{this._id}}"></div>
<input type="text" placeholder="add comment" id="{{this._id}}">
<button class="comment-btn" data-id="{{this._id}}">post</button>

{{/each}}
</ul>

{{!-- <tr>
    <td>{{id}}. {{burger_name}}</td>
    <td>
        <form><button class=" btn devourBtn" data-id="{{this.id}}">Ate It!!</button></form>
    </td>
</tr>
{{/unless}} --}}








{{!-- {{#each burgers}}
{{#if devoured}}
<tr>
    <td>{{burger_name}}
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </td>
</tr>
{{/if}}
{{/each}} --}}